{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block page_title %}Movies{% endblock %}</title>

    {% block additional_css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">

    <script src="{% static 'js/uikit.min.js' %}"></script>
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    <style>
        html {
            height: 100%;
        }

        body {
            min-height: 100%;
        }
    </style>
</head>
<body> {% comment %}style="background-color: #29232c"{% endcomment %}
<div uk-height-viewport="offset-bottom: 0" class="uk-flex" uk-flex>
    <div class="uk-width-small" style="background: #100f12; border-right: 2px solid #171517">
        <div class="uk-padding-small uk-flex uk-flex-column" style="gap: 15px">
            {% include 'menu_button.html' with name='Home' url_name='all_movies' icon='thumbnails' %}
            {% include 'menu_button.html' with name='Filmy' url_name='all_movies' icon='video-camera' %}
            {% include 'menu_button.html' with name='Kolekcje' url_name='all_collections' icon='list' %}
        </div>
    </div>
    <div class="uk-width-expand" style="background: #100f12">
        <nav class="uk-navbar-container" style="background: inherit">
            <div class="uk-margin-medium-left uk-margin-medium-right uk-padding" uk-navbar>
                {% if user.is_authenticated and  user.is_superuser %}
                    <div class="uk-navbar-left">
                        <div>Admin</div>
                        <ul class="uk-navbar-nav">
                            <li>
                                <a href="{% url 'add_movie' %}">
                                    Dodaj Film
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endif %}

                {% comment %}Tutaj mamy dostępnego usera. Dostarcza nam go domyślnie DJANGO{% endcomment %}
                {% if user.is_authenticated %}
                    <div class="uk-navbar-right">
                        <span uk-icon="icon: users; ratio: 1.5"></span>
                        {{ user.get_username|upper }}
                        <a href="{% url 'logout' %}" class="uk-button-default uk-button">Wyloguj</a>
                    </div>
                {% endif %}
            </div>
        </nav>
        {% block  page_content %}
        {% endblock %}
    </div>
</div>
</body>
</html>